*.pyc
.vscode/
./venv/
__pycache__/

db.sqlite3
migrations/
.idea/.gitignore
.idea/Alterdata_System_przetwarzania_danych.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/markdown.xml
